/* styles go here */

.RML-btn{
    display: block;
    color: black;
    text-align: center;
    padding-left: 20px;
    margin-left: auto;
    float: right;
}
.ui.button.logInModel{
    display: block;
    color: black;
    position: relative;
    right: 0;
    margin-right: 30px;
}
.logMessage{
    display: block;
    color: white;
    position: absolute;
    right: 0;
    margin-right: 20px;
}
.ui.dropdown {
    right: 20px;
    color: rgba(255, 255, 255, 0.5);
}
.ui.dropdown .menu{
    margin: 15px;
    padding: 5px;
}